*.pdf
*.psd
*.dds

.DS_Store
*.config
*.gcdump
*.vshost.exe

_DelSyncFiles*/
Monitor-test.ikarus
*vshost*
L-39C_v1*.*
Thumbs.db

.vs*/
Backup*/

.com.greenworldsoft.syncfolderspro
*.log
Log.png
*Temp.*
*temp.*
*Test*
*test*
*_Contruction.Ikarus
PerfView*
