*.pdf
*.psd
*.dds
*.afdesign

.DS_Store
*.config
*.gcdump
*.vshost.exe

_DelSyncFiles*/
Monitor-test.ikarus
*vshost*
L-39C_v1*.*
Thumbs.db

.vs*/
Backup*/

.com.greenworldsoft.syncfolderspro
*.log
Log.png
*Temp.*
*temp.*
*Test*
*test*
*_Contruction.Ikarus
PerfView*

ExportsModules

Ikarus.pdb
FA-18C.xml

AV8BNA_2.5.1.xml
AV8BNA_Construction.ikarus
TempVorlage.ikarus
Ikarus/Images/Accessories/Beispiel.PNG
*.pdb
*.afdesign
*.pdb
Ikarus/ExportsModules/M-2000C.lua
Ikarus/ExportsModules/FA-18C_hornet.lua
*.afdesign
