*.pdf

*.psd

*.dds

.DS_Store

Ikarus/Images/.DS_Store

Ikarus/.DS_Store

*.config

*.vshost.exe

/_DelSyncFiles/*

/.vs/*

/Backup/*

Ikarus/Images/Backgounds/A10-Radios-Panel copy.png

.com.greenworldsoft.syncfolderspro

*.log

Log.png

Ikarus.instr.pdb

Ikarus.vshost.exe.config

Ikarus.vshost.exe

Ersetzen1.txt

Ikarus.vshost.exe.manifest
